.element {
width: 350px;
height: 220px;
padding: 15px 10px 20px 10px;
margin-bottom: 30px;
border: 2px dotted red;
background-color: green;

}

.list-item {
    color: aliceblue;
    font-size: 51px;
    text-shadow: 6px 6px 7px rebeccapurple;
    list-style: none;
}